

        <% if @answer.present? %>
        <h3><%= @answer.orders.id %></h3>
        <h3><%= @answer.orders.financial_status %></h3>
        <h3><%= @answer.orders.total_price %></h3>
        <h3><%= @answer.orders.line_item %></h3>

    <% end %>



<div>
<h1>Testing</h1>

<% shop.each do |orders| %>
    <tr>
        <td> <%= orders.total_price %></td>
    </tr>
<% end %>          @korea_daily = ['alicechu30','alyssa25','artbasel20','doohwan40','fast20''fernandawithlove','ilovegift','jinhee30','junseok10','justforme','justforu10','kasa20','kissmemore30','koreanfashion20','lovejude','mutuallove''siwyair25','siwydaily20','siwyfriends','siwykang20','siwykisskiss25','siwyloves777','siwyme','siwymonday16','siwytogether15','springinsiwy','thunderstorm25','trojan20','vcharity200','vip25','wintercool','xiaoman10']

</div>